$sans-serif: "Karla", sans-serif;
$light-text-color: #ffffff;
$light-text-color-rgb: 255, 255, 255;
$dark-text-color: #252525;
$dark-text-color-rgb: 37, 37, 37;
$text-color: var(--text-color);
$text-color-rgb: var(--text-color-rgb);
$small-radius: 5px;
$moderate-radius: 10px;
$large-radius: 20px;
$desktop-padding: 2rem;
$small-padding: 1.25rem;
$transition-time: 300ms;
$h-line-height: 1.125;
$b-line-height: 1.7;
$disabled-text-color: #a1a1a1;
